@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

body {
  margin: 0 auto;
  font-family: sans-serif;
}

.container {
  display: flex;
  height: 30vh;
  width: 30vw;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  top: 60%;
  left: 50%;
  margin-left:-15vw;
  margin-top:-15vh;
}

/* #player-score { */
  /* position: absolute; */
  /* text-align: center; */
  /* bottom: 6.6em; */
  /* right: 7.55em; */
  /* height: 92px; */
  /* width: 72px; */
  /* font-size: 62px; */
  /* font-family: 'Digital-7'; */
  /* color: black; */
/* } */
/*  */
/* #computer-score { */
  /* position: absolute; */
  /* text-align: center; */
  /* bottom: 6.6em; */
  /* left: 7.55em; */
  /* height: 92px; */
  /* width: 72px; */
  /* font-size: 62px; */
  /* font-family: 'Digital-7'; */
  /* color: black; */
/* } */

#player-score {
  position: absolute;
  bottom: 17em;
  right: -1em;
}

#computer-score {
  position: absolute;
  bottom: 17em;
  left: -1.5em;
}

#results {
  position: absolute;
  bottom: 250px;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  font-weight: bolder;
  color: black;
  height: 50px;
  width: 25vw;
}



#results2 {
  position: absolute;
  bottom: 180px;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  font-weight: bolder;
  color: black;
  height: 50px;
  width: 25vw;
}

.buttons {
  transition: all .5s ease;
  color: #000;
  border: 3px solid BLACK;
  font-family:'Montserrat', sans-serif;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
  font-size: 17px;
  background-color : transparent;
  padding: 10px;
  outline: none;
  border-radius: 4px;
}

.buttons:hover{
  color: #fff;
  background-color: #001F3F; 
}
